


h1, h4, p {
   text-align: left;
}

.bodycolour{
    background-color: #e9ecef;
}

.headercolour{
    background: #e9ecef;
}

.smalltiletext{
    color: #1d2124;
}

.imagewithtext{
    position: relative;
    width: 100%;
}
imagebox{
    position: relative;
   width: 100%
}

.largetiletext {
   position: absolute;
   top: 160px;
   left: 0;
   width: 100%;
   color: #343a40;
   transform: translate (-50%, -50%);
}
.tileparagraph{
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
   color: #343a40;
   transform: translate (-50%, -50%);
}

/*
Class for large tile on article pages
 */
.articlecaptionarticle {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 30pt;
}
/*
Class for large tile on main pages
 */
.articlecaptionmain {
    position: absolute;
    top: 50%;
    left:36%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
    font-weight: normal;
    font-size: 15;

}
/*
Classes for small tiles on main pages
 */
.smalltilecaption1 {
    position: absolute;
    top: 20%;
    left: 38%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
    font-weight: normal;
    font-size: 15;
}

.smalltilecaption2 {
    position: absolute;
    top: 70%;
    left: 38%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
    font-weight: normal;
    font-size: 15;
}

.smalltilecaption3 {
    position: absolute;
    top: 20%;
    left: 38%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
    font-weight: normal;
    font-size: 15;
}

.smalltilecaption4 {
    position: absolute;
    top: 70%;
    left: 38%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
    font-weight: normal;
    font-size: 15;
}

/*
Trending Articles
 */

.trendingcaption1 {
    position: absolute;
    top: 35%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
    font-weight: normal;
    font-size: 16pt;
}

.trendingcaption2 {
    position: absolute;
    top: 35%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
    font-weight: normal;
    font-size: 15pt;
}
.trendingcaption3 {
    position: absolute;
    top: 35%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
    font-weight: normal;
    font-size: 16pt;
}

