.MYCLASS {
    background-image: url("../images/bitcoin.jpg");
    height: 100%;
    width: 100%;
}


h1, h4, p {
   text-align: left;
}

.bodycolour{
    background-color: #e9ecef;
}

.headercolour{
    background: #e9ecef;
}

.smalltiletext{
    color: #1d2124;
}

.imagewithtext{
    position: relative;
    width: 100%;
}
imagebox{
    position: relative;
   width: 100%
}

.largetiletext {
   position: absolute;
   top: 160px;
   left: 0;
   width: 100%;
   color: #343a40;
   transform: translate (-50%, -50%);
}
.tileparagraph{
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
   color: #343a40;
   transform: translate (-50%, -50%);
}

.centered {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate( -50%, -50% );
    text-align: left;
    color: white;
    font-weight: bold;

.textcolour{
    color: black;

}

.display-5 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

