table{
    border-collapse: collapse;
    font-family: Lato, monospace;
}

table th {

    text-align: left;
    background-color: #3a6070;
    color:#ffffff;
    padding:4px 29px 4px 8px;
}

table td {
    border: 1px solid #e3e3e3;
    padding: 4px 8px;
}

table tr:nth-child(odd) td {
    background-color: #e7edf0;
}